@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #cf7575;
}

#column-3 {
  background: #b40303;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/

@media (min-width: 768px) {
  header {
    background-color: #fcf2ee;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: #fccab6;
  }

  #column-2 {
    background-color: #faa380;
  }

  #column-3 {
    background-color: #f8743f;
    width: 100%;
  }

  footer {
    background-color: #ff4a02;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #f2fff4;
  }

  .col-3 {
    width: 33.33%;
  }

  #column-1 {
    background-color: #bcfcc5;
  }

  #column-2 {
    background-color: #92fda2;
  }

  #column-3 {
    background-color: #49fa63;
    width: 33.33%;
  }

  footer {
    background-color: #05fc2a;
  }
   
}
